body {
	background: black;
	font-family: "Handlee", cursive;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin-top: 100px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0;
	padding-top: 10px;
}
.postcard-body {
	display: flex;
	padding: 10;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #e2e2e2;
	padding: 5px 10px;
	border: none;
}
